body {
    width: 750px;
    padding: 0;
    margin: 0;
    margin-left: auto;
    margin-right: auto;
}
.header {
background-origin: padding-box;
height: 253px;
background-color: #2d7053;
padding-left: 38px;
}
.icon {
border-radius: 100px;
background-color: #ffffff;
float: left;
height: 141px;
width: 141px;
margin-top: 47px;
margin-bottom: 47px;
}
.subject {
float: left;
list-style-type: none;
font-size: 30px;
font-family: sans-serif;
color: #ffffff;
padding-left: 50px;
margin-top: 52px;
margin-bottom: 52px;
}
.menu {
float: right;
width: 84px;
height: 68px;
color:#ffffff ;
margin-top: 84px;
margin-right: 44px;
}
.items {
height: 12px;
width: 84px;
background-color:#ffffff ;
border-radius: 15px;
}
.flat {
    position: relative;
    background-image: url(./0325115cfca2f08bd19529e1d4a4396a@1X.png);
    height: 466px;
    align-items: center;
    justify-content: center;
}
.flatshadow {
    width: 741px;
    height: 445px;
    background-color: black;
    opacity: 35%;
    position: relative;
    left: 9px;
    top: 0;
}
.flatbtm{
    position: absolute;
    left: 205px;
    bottom: 47px;
    height: 74px;
    width: 341px;
    background-color: #cb9223;
    text-align: center;
    font-family: sans-serif;
    display: flex;
    align-items: center;
    justify-content: center
  
}
.flatbtm a {
    color: #f8f2e9;
    font-size: 17pt;
    text-decoration: none;
}
.photo {
    float: left;
    width: 247px;
    height: 247px;
    border-radius: 50%;
    margin-top: 37px;
    margin-left: 22px;
}
.nameblok {
    float: right;
    text-align: left;
    width: 270px;
    margin-top: 134px;
    margin-right: 174px;
    
}
.name {
    font-family: sans-serif;
    height: 27px;
    font-variant: small-caps;
    font-size: 36px;
    margin-bottom: 36px;
    margin-top: 0;
}
.name1 {
    font-family: sans-serif;
    height: 50px;
    font-size: 1.5em;
}
.practice {

    font-size: 22px;
    font-family: sans-serif;
    margin-left: 22px;
    padding-top: 350px;
    width: 595px;
    }
.causes {
    font-family: sans-serif;
    margin-left: 22px;
    margin-top: 46px;
    font-size: 2em;
    height: 32px;
    font-variant: small-caps;

}
.reason {
    margin-top: 43px;
    list-style: none;
    padding: 0;
    margin-left: 22px;
    margin-bottom: 0;
    font-family: sans-serif;
    font-size: 20pt;
}
.flatbtm2 {
    position: relative;
    left: 205px;
    bottom: 47px;
    height: 74px;
    width: 341px;
    background-color: #cb9223;
    text-align: center;
    font-family: sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 91px;
    margin-bottom: 3px;
}
.flatbtm2 a {
    color: #f8f2e9;
    font-size: 17pt;
    text-decoration: none;
}
.footer {
    height: 153px;
    background-color: #888888;
}
.logo {
    float: left;
    height: 96px;;
    width: 96px;
    background-color: #ffffff;
    border-radius: 50%;
    margin-top: 29px;
    margin-left: 45px;
}
.address {
    float: left;
    margin-left: 164px;
    margin-top: 102px;
    color: #ffffff;
    font-family: sans-serif;
    font-size: 18px;
}
.info {
    float: right;
    margin-left: 38px;
    color: #ffffff;
    font-family: sans-serif;
    font-size: 18px;
    margin-top: 56px;
    margin-right: 25px;

}
.tel a {
    text-decoration: none;
    color: #ffffff;
    font-size: 18px;
}
.tel{
    padding-bottom: 27px;
}
.mail a{
    text-decoration: none;
    color: #ffffff;
    font-size: 18px;
}